body {
  font-family: "Open Sans", sans-serif;
}

img {
  display: block;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.conteiner {
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
}

.position-flex {
  display: flex;
}

.position-item {
  justify-content: space-between;
}

.position-item > button {
  border: none;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
  font-size: inherit;
  font-weight: 700;
  padding: 10px 30px 10px 30px;
  transition: background-color 250ms linear;
}

.position-item > button:hover,
.position-item > button:focus {
  background-color: #f2efef;
}

.menu-item {
  flex-basis: 70%;
}

.menu-item > .list {
  justify-content: space-evenly;
  font-weight: 700;
}

.list .item:hover,
.list .item:focus {
  background-color: #f2efef;
  border-radius: 4px;
}

.menu-item .item {
  padding: 15px;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0px;
  clip: rect(0 0 0 0);
  overflow: hidden;
  opacity: 0;
  transition: opacity 250ms linear;
}

.list .item:hover > .visually-hidden,
.list .item:focus > .visually-hidden {
  min-width: 250px;
  height: auto;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 5px;
  margin: 0;
  clip: auto;
  opacity: 1;
  overflow: visible;

  top: 100%;
  left: 0%;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.products > .products-item,
.delivery-item,
.description {
  padding: 10px 10px 10px 5px;
}

.products > .products-item::after {
  content: "+";
  justify-content: space-between;
}

.products > .products-item {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.products > .products-item:hover::after,
.products > .products-item:focus::after {
  content: "-";
}

.products > .products-item:hover,
.products > .products-item:focus {
  background-color: #f2efef;
}

.products-item:hover > .visually-hidden,
.products-item:focus > .visually-hidden {
  min-width: 250px;
  height: auto;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 5px;
  margin: 0;
  clip: auto;
  opacity: 1;
  overflow: visible;

  left: 105%;
  top: 0%;
}

.delivery-item {
  display: flex;
  align-items: center;
}

.delivery-item:hover {
  background-color: #f2efef;
}

.delivery-item::before {
  margin-right: 10px;
  display: block;
  width: 10px;
  height: 10px;
  content: "";
  background-image: url(../images/arrow.svg);
}

.hero {
  display: flex;
  flex-grow: 0;
}

.hero-header {
  flex-grow: 1;
}

.hero-bacground {
  flex-grow: 1;
}
